{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Shares
                </th>
                <th>
                    Time
                </th>
            </tr>

        </thead>
        <tbody>
            {% for data in rows %}
                <tr>
                    <td>
                        {{ data[1] }}
                    </td>
                    <td>
                        {{ data[2] }}
                    </td>
                    <td>
                        {{ data[3] }}
                    </td>
                    <td>
                        {{ data[4] }}
                    </td>
                </tr>
            {% endfor %}

        </tbody>

    </table>
</div>

<div class="container">
    <a class="link-primary" href="/clear_history">Clear History</a>

</div>

{% endblock %}
