{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Stock Name
                    </th>
                    <th scope="col">
                        Stock Price
                    </th>
                    <th scope="col">
                        Symbol
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ stock_name }}
                    </td>
                    <td>
                        {{ price }}
                    </td>
                    <td>
                        {{ symbol }}
                    </td>
                </tr>

            </tbody>

        </table>
    </div>



{% endblock %}